.job_container{
    width: 90%;
    margin: 0 auto;
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    }
    
    .job_section{
        width: 30%;
        background-color: brown;
        text-align: center;
        padding: 5% 2% 5% 2%;
        border-radius: 10px;
        background: rgb(174,238,228);
        background: radial-gradient(circle, rgb(232, 235, 234) 45%, rgb(20, 1, 17) 100%);
        cursor: pointer;
        font-family: inter;
        margin: 0 auto;
        margin-top: 2%;
        transition: transform 0.3s ease;
}

.job_section:hover{
    transform: scale(1.1);
}

.job_page{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    font-family: inter;
}