.slide_container{
    width: 60%;
    margin: 0 auto;
    align-self: center;
    margin-top: 10%;
    padding: 5% 5% 5% 5%;
    background-image: linear-gradient(to right, rgb(0, 119, 255) , yellow);
border-radius: 15px;
}

.slide{
  font-family: inter;
}

.page{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin-top: 3%;
    font-family: inter;
}